<%- include('components/blogboiler') %>

<body>
    <header>
        <h1> <a href="/">CMS</a></h1>
        <nav>
            <a href="/createBlog">Add Blog</a>
        </nav>
    </header>
    

        <div class="container">
          <%  if(everyBlogs.length == 0){ %>
                <h1>No Blog</h1>
         <%   }else{  %>
                <% everyBlogs.length > 0 && everyBlogs.forEach((blog) => { %>
                    <div class="card">
                        <h2><%- blog.title %></h2>
                        <h3><%- blog.subTitle %></h3>
                        <p><%-blog.description.slice(0,90) %>...</p>
                        <a href="/single/<%- blog.id %>">Read More</a>
                    </div>
                     
               <% }) %>
           <% } %>
            
        </div>

        <!-- Add more blog cards here -->

    <footer>
        <p>&copy; 2023 Our Blog</p>
    </footer>
</body>
</html>
