<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Example</title>
    <link rel="stylesheet" href="/styles/blog.css">
</head>

<body>
    
    <%- include('components/navbar') %>
    

        <div class="container">
          <%  if(everyBlogs.length == 0){ %>
                <h1>No Blog</h1>
         <%   }else{  %>
                <% everyBlogs.length > 0 && everyBlogs.forEach((blog) => { %>
                    <div class="card">
                        <h2><%- blog.title %></h2>
                        <h3><%- blog.subTitle %></h3>
                        <p><%-blog.description.slice(0,90) %>...</p>
                        <a href="/single/<%- blog.id %>">Read More</a>
                    </div>
                     
               <% }) %>
           <% } %>
            
        </div>

        <!-- Add more blog cards here -->
</body>
</html>
