<%- include('components/editboiler') %>
<body>
    <%- include('components/navbar') %>

    <div class="container">
        <h2>Submit Your Information</h2>
        <form class="blog-form" action="/editBlog/ <%- blog[0].id %>" method="post">
            <label for="title">Blog Title:</label>
            <input type="text" id="title" name="title" value="<%- blog[0].title %>" required>

            <label for="subtitle">Blog Subtitle:</label>
            <input type="text" id="subtitle" name="subtitle" value="<%- blog[0].subTitle%>" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="6" required> value="<%- blog[0].description %>" </textarea>

            <button type="submit">Publish</button>
        </form>
    </div>

    <footer>
        <p>&copy; 2023 Your Blog</p>
    </footer>
</body>
</html>
