<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Example</title>
    <link rel="stylesheet" href="/styles/blog.css">
</head>

<body>
    <%- include('components/navbar') %>
    <div class="card">
        <h2 class="card-title"><%- blog[0].title %></h2>
        <img src="<%- blog[0].image %>" alt="" height="200px" width="200px">
        <h3 class="card-subtitle"><%- blog[0].subTitle %></h3>
        <p class="card-description"><%- blog[0].description%></p>
        <p class="card-description">Author:<%- blog[0].user.username%></p>
        <p class="card-description">Author:<%- blog[0].user.email%></p>
        <footer>
            <p> 
                Published Date: <%- blog[0].createdAt.toISOString().slice(0,10) %>
            </p>
            
            <% if(currentUser){ %>
                <% if(currentUserId == blog[0].user.id){ %>
                    <button><a href="/delete/<%-blog[0].id %>">Delete</a></button>
                    <button><a href="/edit/<%-blog[0].id %>">Edit</a></button>
            
                <% } %>
               <% } %>
            
        </footer>
    </div>
    
</body>
</html>
